@use 'variaveis';

.footer {
    margin-bottom: 64px;
    padding: 26px 8px;

    &__container {
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    &__logo {
        width: 10%;
        margin: 0 auto 32px;
    }

    &__links {
        margin-bottom: 32px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;

        &__item {
            display: inline-block;

            a {
                text-decoration: none;
                display: block;
                padding: 8px 24px;

                &:hover {
                    color: variaveis.$sdText;
                }
            }
        }
    }

    p {
        margin-top: 16px;
        margin-bottom: 8px;
    }
}

.language-selector {
    display: flex;
    align-items: center;

    img {
        height: 18px;
        width: 18px;
    }

    select {
        background-color: transparent;
        border: none;
        color: variaveis.$prText;
        height: 38px;

        &:hover {
            color: variaveis.$sdText;
        }

        option {
            color: variaveis.$bgColor;
        }
    }
}