@use 'sass:color';
@use 'variaveis';

.hero {
    padding: 5.6vw;
    min-height: 80vh;
    background-image: url('../images/hero_desktop.jpeg');
    background-size: cover;
    background-position: center;

    &__content {
        max-width: 640px;
        text-align: center;

        &__branding {
            max-width: 320px;
            margin: 0 auto 38px;
            text-align: center;
        }

        .tittle--small {
            margin-bottom: 64px;
        }

        p {
            margin-bottom: 20px;

            &:last-child {
                color: variaveis.$prText;
                font-size: 14px;
                margin-top: 40px;
                display: block;
                opacity: 0.6;
            }

            .link-text {
                display: inline-block;
                margin-bottom: 16px;
            }

            span {
                margin-bottom: 32px;
                color: variaveis.$prText;
                opacity: 0.6;
            }
        }

        &__combos {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 16px;

            &__combo {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;

                img {
                    max-width: 240px;
                    height: auto;
                    margin-bottom: 8px;
                    margin-top: 16px;
                }

                button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 60px;
                    font-size: 18px;
                    color: variaveis.$sdText;
                    background-color: #00b4d8;
                    text-transform: uppercase;
                    border: none;
                    border-radius: 12px;
                    margin-top: 2vw;
                    margin-bottom: 8px;
                    cursor: pointer;
                    transition: background-color 0.3s;

                    &:hover {
                        background-color: color.adjust(#040714, $lightness: 10%);
                    }
                }

                &__text {
                    text-align: center;
                }

                .text {
                    margin-top: 16px;
                }
            }
        }
    }
}