@use 'variaveis';
@use 'config';

.plans {
    padding: 5.6vw;

    h2 {
        text-align: center;
    }

    &__list {
        display: flex;
        justify-content: space-around;
        margin-top: 64px;

        @media (max-width: 768px) {
            display: block;
            padding: 0;
        }

        .button {
            margin-top: 24px;
        }

        &__item {
            text-align: center;
            padding: 60px 44px 44px;
            max-width: 420px;
            width: 100%;
            margin: 0 auto;

            @media (max-width: 768px) {
                margin-bottom: 40px;
                padding: 40px 20px;
            }

            .text--big {
                color: #f9f9f9;
            }

            &:nth-child(2) {
                background-image: url(../images/fundo_combo_plus.png);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
            }

            img {
                height: 88px;
            }

            strong {
                display: block;
                margin-top: 24px;
            }

            .button {
                margin: 24px auto 0;
                width: 100%;
                max-width: 300px;
                display: block;
            }
        }
    }
}

p {
    text-align: center;
    color: silver;
    opacity: 0.6;
    margin-top: 16px;
    margin-bottom: 16px;
}